Agnieszka <aga.pedlewska@gmail.com>
Damian <Damian.Andrzej.Muca@gmail.com> <damian.andrzej.muca@gmail.com>
Damian <Damian.Andrzej.Muca@gmail.com> <damian_muca@epam.com>
Krzychu <krzysztof.dzioba.93@gmail.com>
Tomek <tomasz.z.seidler@gmail.com>
